.place__paragraph {
  font-size: 16px;
  line-height: 1.63;
  padding: 0 16px;
  margin: 0;
}

@media screen and (min-width: 425px) {
    .place__paragraph {
        font-size: 18px;
    }

@media screen and (min-width: 768px) {
  .place__paragraph {
    padding: 0;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}