@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("/fonts/inter/Inter-Regular.woff") format("woff"),
    url("/fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("/fonts/inter/Inter-Black.woff2") format("woff2"),
    url("/fonts/inter/Inter-Black.woff") format("woff"),
    url("/fonts/inter/Inter-Black.ttf") format("truetype");
}
