.intro__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  padding: 64px 0 44px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro__title {
    padding: 88px 0 40px;
    font-size: 54px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    padding-top: 92px;
    font-size: 54px;
    line-height: 1.04;
  }
}
